.bg-item {
    background: #2c2c2c;
}

.tamanho {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.secao-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

main img {
    border-radius: 4px;
}


.bg-produtos{
    background-image: radial-gradient(#ffffff, #c7c7c7c7);
    padding-bottom: 30px;
}

.produtos-titulo{
    margin: 60px auto;
    text-align: center;
    font-size: 2rem;
    border-bottom: #e21 solid 4px;
    max-width: fit-content;
}

.produtos-lista{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.produtos-lista a{
    color: #000000;
}


.section-bg{
    background: #2c2c2c;
    color: #ffffff;
}

.section-lado-esquerdo a{
    display: inline-block;
    font-size: 1.5rem;
    background: #e21;
    padding: 10px 60px;
    border-radius: 30px;
    color: #ffffff;

}

.section-lado-esquerdo a:hover{
    background-color: #890300;
    transition: 0.3s;

}



.section-lado-direito{
    padding-top: 20px;
}





.produtos-section{
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-lado-esquerdo h2{
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 10px;
}
.section-lado-esquerdo p{
    font-size: 1rem;
    padding-bottom: 10px;
}



@media(max-width:820px){

    .secao-item{
        grid-template-columns: 1fr;
    }

    .produtos-lista{
        grid-template-columns: repeat(2, 1fr);
    }

    .produtos-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
    }

    .produtos-section h2{
        font-size: 2rem;
    }
}


